---
title: Want to learn more about UNDM?
description:
---

<div class="subscribe-to-newsletter">
    <!-- Button trigger modal -->
    <button type="button" class="btn button" data-toggle="modal" data-target="#exampleModal">Subscribe to our newsletter</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="writeLetter" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="writeLetter">Subscribe to our Newsletter!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="kiddoLetters" method="post" class="letter-form" data-netlify="true">
                        <label for="name">Full Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter your name..." />

                        <label for="email">Email Address</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email..." required />

                        <input type="submit" value="Add me to the newsletter!" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="involvement-roles">
    <h2>Involvement Roles</h2>
    <!-- Involvement roles rows - start -->
    <p class="text-center">Dance Marathon has many different levels of involvement, but all are greatly integrated and necessary for our success.</p>
    <hr />
    <div class="row fade-item">
        <div class="row-rectangle fade-item"></div>
        <div class="col-sm-3 m-auto text-center">
            <h2>Executive<br />Team</h2>
        </div>
        <div class="col m-auto">
            <p>
                The executive team is made up of 21 directors in charge of their respective committees within the organization. These individuals make
                decisions that enhance all aspects of our mission, from recruitment to event operations.
            </p>
        </div>
    </div>
    <hr />
    <div class="row fade-item">
        <div class="row-rectangle fade-item"></div>
        <div class="col-sm-3 m-auto text-center">
            <h2>Staff</h2>
        </div>
        <div class="col">
            <p>
                Staff make up each committee and complete various tasks that aid in efforts completed leading up to the event. They staff booths and
                various events held on campus throughout the year, as well as assisting in accomplishing their committee’s goals to improve DM.
            </p>
        </div>
    </div>
    <hr />
    <div class="row fade-item">
        <div class="row-rectangle fade-item"></div>
        <div class="col-sm-3 m-auto text-center">
            <h2>Morale<br />Captains</h2>
        </div>
        <div class="col m-auto">
            <p>
                Morale Captains act as the liaisons between Dance Marathon and Team Captains of other organizations on campus that support our
                mission. This group is known to set an enthusiastic tone at HuskerThon and boost morale throughout the event.
            </p>
        </div>
    </div>
    <hr />
    <div class="row fade-item">
        <div class="row-rectangle fade-item"></div>
        <div class="col-sm-3 m-auto text-center">
            <h2>Dancers</h2>
        </div>
        <div class="col m-auto">
            <p>
                Dancers are students throughout campus that have raised $100 throughout the year and come together the day of the event to help
                celebrate the year’s accomplishments.
            </p>
        </div>
    </div>
    <hr />
    <div class="row fade-item">
        <div class="row-rectangle fade-item"></div>
        <div class="col-sm-3 m-auto text-center">
            <h2>Donors</h2>
        </div>
        <div class="col m-auto">
            <p>
                Lastly, donors are individuals that have supported our organization’s goal to raise money for Children’s Hospital in Omaha. All roles
                allow us to succeed in our goals of fundraising and building relationships throughout our community.
            </p>
        </div>
    </div>
    <hr />
</div>
<!-- Involvement roles rows - end -->
<h2 style="text-align: center; margin-bottom: 50px;">Meet our Executive Team!</h2>
<p class="editor-link" style="text-align: center">
    <a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a>
</p>
<!--
<ul class="staff">
    {% assign sorted_staff = site.staff_members | sort: "order" %} {% for person in sorted_staff %}
    <li class="fade-item">
        <div class="exec-image">
            <img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}" />
        </div>
        <div class="name">{{ person.name }}</div>
        <div class="position">{{ person.position }}</div>
    </li>
    {% endfor %}
</ul>
-->

<section class="float-containerpink">
    <div class="float-picture" style="content:url('../images/exec/ashley.jpg');"></div>
    <div class="float-textpink">
        <h3 style="margin-top: 0;">Ashley McMurchie</h3>
        <p>Executive Director/President</p>
        <p>The President of UNDM serves as the liaison between Dance Marathon and UNL. Running mostly behind the scenes, the president makes sure her team of hard-working, passionate individuals has a smooth year.</p>
        <p>Ashley has been making a difference with Dance Marathon for 4 years. Her favorite memory would be my first bracelet cutting ceremony or being Elliot's family rep! The bracelet cutting ceremony really hit home and solidified why we raise money and awareness for Children's Hospital.  Being Elliot's family representative was also rewarding because I spent all of HuskerThon 2020 with him and was able to see the joy this event brings our Miracle Kids.        </p>
    </div>
</section>

<section class="float-containerwhite">
    <div class="float-picture">
        <img src="../images/exec/grace.jpg" alt="Grace">
    </div>
    <div class="float-textwhite">
        <h3 style="margin-top: 0;">Grace Heggem</h3>
        <p>Vice President Programming</p>
        <p>The Vice President of Programming creates, plans, and executions of all UNDM events throughout the year. Whether that be the Block Party or the Main Event, the VP of Event Planning is responsible for the coordination of the event.</p>
        <p>Grace has been making a difference with Dance Marathon for years. Her favorite memory is</p>
    </div>
</section>

<section class="float-containerwhite">
    <div class="float-smallcontainer">
        <div class="float-picturesmall">
            <img src="../images/exec/bridget.jpg" alt="Grace" style="margin-top: -50px;">
        </div>
        <p>Haley Brezack</p>
        <div class="smalltext">Director of Event Coordination</div>
        <div class="smalltext">The Directors of Event Coordination scout and book entertainment acts and programming events for HuskerThon to make it as enjoyable as possible for the Kiddos.</div>
    </div>
    <div class="float-smallcontainer" style="margin-left: 10%;">
        <div class="float-picturesmall">
            <img src="../images/exec/corrie.jpg" alt="Grace" style="margin-top: -50px;">
        </div>
        <p>Megan Ott</p>
        <div class="smalltext">Director of Event Operations</div>
        <div class="smalltext">The Director of Event Operations plans and executes the logistics of HuskerThon, such as staff allocations and UNL policy guidelines.</div>
    </div>
    <div class="float-smallcontainer" style="margin-left: 10%;">
        <div class="float-picturesmall">
            <img src="../images/exec/claire.jpg" alt="Grace" style="margin-top: -50px;">
        </div>
        <p>Libby Bash</p>
        <div class="smalltext">Director of Special Events</div>
        <div class="smalltext">The Director of Special Events generates ideas and executes smaller special events throughout the year to continue engagement.</div>
    </div>
    <!--
    <div class="float-picturesmall" style="margin-left: 10%;">
        <img src="../images/exec/corrie.jpg" alt="Grace" style="margin-top: -50px;">
    </div>
    <div class="float-picturesmall" style="margin-left: 10%;">
        <img src="../images/exec/claire.jpg" alt="Grace" style="margin-top: -50px;">
    </div>
    -->

</section>

<section class="float-containerpink">
    <div class="float-picture" style="content:url('../images/exec/caitlin.jpg');"></div>
    <div class="float-textpink">
        <h3 style="margin-top: 0;">Caitlin McCarthy</h3>
        <p>Vice President Finance        </p>
        <p>The Vice President of Finance oversees budgeting, data tracking, and the allocation of monetary resources. She focuses on making sure UNDM can give the most to Omaha Children’s Miracle Network Hospital.</p>
        <p>This is Caitlin 4th year with make an impact with UNDM. Her favorite memory is being Willa’s family rep and watching her dance and sing in her middle school musical and making Tik Toks with her</p>
    </div>
</section>

<section class="float-containerpink">
    <div class="float-smallcontainer">
        <div class="float-picturesmall">
            <img src="../images/exec/bridget.jpg" alt="Grace" style="margin-top: -50px;">
        </div>
        <p style="color: white">Haley Brezack</p>
        <div class="smalltext" style="color: white">Director of Event Coordination</div>
        <div class="smalltext" style="color: white">The Directors of Event Coordination scout and book entertainment acts and programming events for HuskerThon to make it as enjoyable as possible for the Kiddos.</div>
    </div>
    <div class="float-smallcontainer" style="margin-left: 10%;">
        <div class="float-picturesmall">
            <img src="../images/exec/corrie.jpg" alt="Grace" style="margin-top: -50px;">
        </div>
        <p style="color: white">Megan Ott</p>
        <div class="smalltext" style="color: white">Director of Event Operations</div>
        <div class="smalltext" style="color: white">The Director of Event Operations plans and executes the logistics of HuskerThon, such as staff allocations and UNL policy guidelines.</div>
    </div>
    <div class="float-smallcontainer" style="margin-left: 10%;">
        <div class="float-picturesmall">
            <img src="../images/exec/claire.jpg" alt="Grace" style="margin-top: -50px;">
        </div>
        <p style="color: white">Libby Bash</p>
        <div class="smalltext" style="color: white">Director of Special Events</div>
        <div class="smalltext" style="color: white">The Director of Special Events generates ideas and executes smaller special events throughout the year to continue engagement.</div>
    </div>
    <!--
    <div class="float-picturesmall" style="margin-left: 10%;">
        <img src="../images/exec/corrie.jpg" alt="Grace" style="margin-top: -50px;">
    </div>
    <div class="float-picturesmall" style="margin-left: 10%;">
        <img src="../images/exec/claire.jpg" alt="Grace" style="margin-top: -50px;">
    </div>
    -->

</section>
<!-- We will take out the not pictured part when we get a picture of Kiara -->
<p>Not Pictured: Kiara Kearney (Special Events)</p>
