.fade-item {
    visibility: hidden;
}
    
.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}
    
@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
    
